@model WebQuanLyAN.Models.Nhacsi
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/GUI.cshtml";
}

<h2>Thêm nhạc sĩ</h2>

<div class="table-wrapper">
    @using (Html.BeginForm("add", "NhacSi"))
    {
        <table class="fl-table">
            <tr>
                <td>
                    Họ Tên:
                </td>
                <td>
                    <p>@Html.EditorFor(model => model.tenNS)</p>
                </td>
            </tr>

            <tr>
                <td>
                    Năm sinh:
                </td>
                <td>
                    <p>@Html.EditorFor(model => model.namS)</p>

                </td>
            </tr>

            <tr>
                <td>
                    Quê Quán:
                </td>
                <td>
                    <p>@Html.EditorFor(model => model.queQ)</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Thêm mới" />

                </td>
            </tr>
        </table>
    }
    @if (TempData["ThongBao"] != null)
    {
        <script language="javascript" content="text/javascript" ; charset="utf-8">
       alert("@TempData["ThongBao"]");
        </script>
    }
</div>

