@model WebQuanLyAN.Models.Nhacsi
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/GUI.cshtml";
}

<h2>Chỉnh sửa thông tin nhạc sĩ</h2>

<div class="table-wrapper">
    @using (Html.BeginForm("sua", "NhacSi"))
    {
        <table class="fl-table">
            <tr>
                <td> @Html.HiddenFor(model => model.Id)</td>
            </tr>
            <tr>
                <td>
                    Họ Tên:
                </td>
                <td>
                    <p>@Html.EditorFor(model => model.tenNS)</p>
                </td>
            </tr>

            <tr>
                <td>
                    Năm sinh:
                </td>
                <td>
                    <p>@Html.EditorFor(model => model.namS)</p>
                </td>
            </tr>

            <tr>
                <td>
                    Quê Quán:
                </td>
                <td>
                    <p>@Html.EditorFor(model => model.queQ)</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Cập nhật" />
                </td>
            </tr>
        </table>
    }
</div>

