@model IEnumerable<WebQuanLyAN.Models.Nhacsi>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/GUI.cshtml";
}

<h2 class="text" style="text-align:center">Danh sách nhạc sĩ</h2>
@*@using (Html.BeginForm("Index", "NhacSi", FormMethod.Get))
{
    <div class="wrap-left">
        <div class="search-group">
            @Html.TextBox("search")<input type="submit" value="Tìm Kiếm" />
        </div>
    </div>
}*@

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>

                <th>Tên Nhạc Sĩ</th>
                <th>Năm Sinh</th>
                <th>Quê Quán</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>Không Có Thông Tin</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.tenNS</td>
                        <td>@item.namS.ToShortDateString()</td>
                        <td>@item.queQ</td>
                        <td>
                            <div class="icon-content">
                                <a href="/NhacSi/Edit?id=@item.Id">
                                    <span class="icon" title="Sửa"><ion-icon name="create-outline"></ion-icon></span>
                                </a>
                                <a href="/NhacSi/Delete?id=@item.Id">
                                    <span class="icon" title="Xóa"><ion-icon name="trash-outline"></ion-icon></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
    </table>
</div>

